
@media (min-width:1200px){

}

@media (min-width:992px) and (max-width:1199px){

}

@media (min-width:768px) and (max-width:991px){
    /*Gallery */
    

}

@media (min-width:576px) and (max-width:767px){
     /*menu*/

     .main_menu {
        top: 0;
    }
    .main_menu .navbar-brand {
        width: 200px;
        height: 50px;
        padding-left: 30px;
    }
    .main_menu .navbar-brand {
        margin-left: -13px;
        transition: .4s;
    }
    .main_menu .navbar-brand img {
        margin-top: 0px;
    }
    
    .main_menu button i{
        color: #fff;
    }
    .main_menu ul{
        text-align: center;
        background: #e23e38;
        z-index: 2;
    }
    header .navbar-collapse {
        background: #e23e38;
        transition: .5s;
    }
    .navbar-nav {
        margin: 7.5px 0;
    }
    .main_menu ul li a{
        padding: 0;
        line-height: 36px;
        
    }
    .main_menu ul li a:hover:before{
        display: none;
    }
    .main_menu ul li a.active:before{
        background: #000;
        width: 100%;
    }

    /* Banner */
    .banner_content {
        padding: 115px 0 80px;
    }
    .banner_text h2::before,
    .banner_text h2:after,
    .banner_text h1::before,
    .banner_text h1::after,
    .banner_text p::before,
    .banner_text p:after{
        display: none;
    }
    .banner_text h2 {
        font-size: 18px;
    }
    .banner_text h1 {
        font-size: 32px;
        margin: 8px 0;
    }
    .banner_content p {
        color: #f7f7f7;
        margin-bottom: 0;
        line-height: 22px;
        font-weight: 500;
        padding: 2px 10px 24px 10px;
    }
    .banner_text a {
        padding: 7px 30px;
        margin: 0px 2px;
        background: #e23e38;
        border: 1px solid #e23e38;
        border-radius: 0;
    }
    .banner_text a:hover{
        background: none;
        border: 1px solid #fff;
    }
    /*About*/
    #about {
        padding: 50px 0;
    }
    .about .left{
        margin-left: 50px;
    }
    #about .right p {
        padding: 0;
    }

    /*Gallery */
    #gallery {
        padding-top: 0px;
    }
    .margin_2{
        margin-bottom: 30px;
    }

    /*Team*/
    #team {
        padding-top: 40px;
    }
    .teams {
        margin-left: 20px;
    }
    .margin_top {
        padding: 24px 0;
    }

    /* Testimonial*/
    #testimonial {
        padding-top: 0px;
    }
    .slider_content .text {
        left: 33%;
    }
    .slider_content p {
        text-align: justify;
    }

    /*Membership*/

    .price_item h3 {
        padding: 12px 0;
    }
    .price_item .price {
        padding: 20px 0;
    }
    .price_item .price h4 {
        font-size: 22px;
    }
    .price_item .pacility {
        padding: 2px 0;
    }
    .price_item .button {
        padding: 7px 0;
    }
    .price_item .button:hover {
        background: #000;
    }
    .price_item {
        margin-bottom: 20px;
    }

    /*Counter*/

    .counter_section {
        margin-bottom: 25px;
    }

    /*Classes*/
    #Class {
        padding: 30px 0 20px;
    }
    #Class img{
        margin-bottom: 20px;
    }
    .classes_menu li {
        width: 33.33%;
        margin-top: 0px;
        border-bottom: 1px solid #e23e38;
    }
    .class_item{
        margin-top: 10px;
    }
    .class_item ul li {
        width: 49%;
        padding: 25px 0;
    }
    .class_item ul li h4 {
        font-size: 15px;
        line-height: 20px;
    }
    .class_item ul li span {
        font-size: 12px;
    }

    /*Partner*/
    .partner_slider{
        margin-bottom: 20px;
    }

    /*Footer*/
    .foot_text2 h4 {
        font-weight: 500;
        font-size: 11px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        color: #fff;
        margin: 30px 0;
    }
    .foot_text3 ul {
        margin-top: 69px;
    }
    .footer_section .footer_content {
        margin-top: 30px;
    }
    .footer_section .footer_content .twitter p {
        text-align: justify;
    }
    .footer_section .footer_content .twitter .top {
        margin-bottom: 10px;
    }
    .footer_section .footer_content .photos img{
        width: 23.8%;
    }

    .footer_section .footer_content .Contact .top p {
        font-size: 12px;
        margin-top: -26px;
        margin-left: 16px;
    }
    .footer_section .footer_content .social_icon ul{
        margin-bottom: 20px;
    }

    /*ScrollTop*/
    .scrollTop {
        width: 35px;
        height: 35px;
        right: 28px;
        bottom: 44px;
        line-height: 31px;
        font-size: 26px;
    }
}

@media (max-width: 575px){
    /*menu*/

    .main_menu {
        top: 0;
    }
    .main_menu .navbar-brand {
        width: 200px;
        height: 50px;
        padding-left: 30px;
    }
    .main_menu .navbar-brand {
        margin-left: -13px;
        transition: .4s;
    }
    .main_menu .navbar-brand img {
        margin-top: 0px;
    }
    
    .main_menu button i{
        color: #fff;
    }
    .main_menu ul{
        text-align: center;
        background: #e23e38;
        z-index: 2;
    }
    header .navbar-collapse {
        background: #e23e38;
        transition: .5s;
    }
    .navbar-nav {
        margin: 7.5px 0;
    }
    .main_menu ul li a{
        padding: 0;
        line-height: 36px;
        
    }
    .main_menu ul li a:hover:before{
        display: none;
    }
    .main_menu ul li a.active:before{
        background: #000;
        width: 100%;
    }

    /* Banner */
    .banner_content {
        padding: 115px 0 80px;
    }
    .banner_text h2::before,
    .banner_text h2:after,
    .banner_text h1::before,
    .banner_text h1::after,
    .banner_text p::before,
    .banner_text p:after{
        display: none;
    }
    .banner_text h2 {
        font-size: 18px;
    }
    .banner_text h1 {
        font-size: 32px;
        margin: 8px 0;
    }
    .banner_content p {
        color: #f7f7f7;
        margin-bottom: 0;
        line-height: 22px;
        font-weight: 500;
        padding: 2px 10px 24px 10px;
    }
    .banner_text a {
        padding: 7px 30px;
        margin: 0px 2px;
        background: #e23e38;
        border: 1px solid #e23e38;
        border-radius: 0;
    }
    .banner_text a:hover{
        background: none;
        border: 1px solid #fff;
    }

    /*About*/
    #about {
        padding: 50px 0;
    }
    .about .left{
        margin-left: 50px;
    }
    #about .right p {
        padding: 0;
    }

    /*Gallery */
    #gallery {
        padding-top: 0px;
    }
    .margin_2{
        margin-bottom: 30px;
    }

    /*Team*/
    #team {
        padding-top: 40px;
    }
    .margin_top {
        padding: 24px 0;
    }

    /* Testimonial*/
    #testimonial {
        padding-top: 0px;
    }
    .slider_content .text {
        left: 33%;
    }
    .slider_content p {
        text-align: justify;
    }

    /*Membership*/

    .price_item h3 {
        padding: 12px 0;
    }
    .price_item .price {
        padding: 20px 0;
    }
    .price_item .price h4 {
        font-size: 22px;
    }
    .price_item .pacility {
        padding: 2px 0;
    }
    .price_item .button {
        padding: 7px 0;
    }
    .price_item .button:hover {
        background: #000;
    }
    .price_item {
        margin-bottom: 20px;
    }

    /*Counter*/

    .counter_section {
        margin-bottom: 25px;
    }

    /*Classes*/
    #Class {
        padding: 30px 0 20px;
    }
    #Class img{
        margin-bottom: 20px;
    }
    .classes_menu li {
        width: 33.33%;
        margin-top: 0px;
        border-bottom: 1px solid #e23e38;
    }
    .class_item{
        margin-top: 10px;
    }
    .class_item ul li {
        width: 48.2%;
        padding: 25px 0;
    }
    .class_item ul li h4 {
        font-size: 15px;
        line-height: 20px;
    }
    .class_item ul li span {
        font-size: 12px;
    }

    /*Partner*/
    .partner_slider{
        margin-bottom: 20px;
    }

    /*Footer*/
    .foot_text2 h4 {
        font-weight: 500;
        font-size: 11px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        color: #fff;
        margin: 30px 0;
    }
    .foot_text3 ul {
        margin-top: 69px;
    }
    .footer_section .footer_content {
        margin-top: 30px;
    }
    .footer_section .footer_content .twitter p {
        text-align: justify;
    }
    .footer_section .footer_content .twitter .top {
        margin-bottom: 10px;
    }
    .footer_section .footer_content .photos img{
        width: 23.8%;
    }

    .footer_section .footer_content .Contact .top p {
        font-size: 12px;
        margin-top: -26px;
        margin-left: 16px;
    }
    .footer_section .footer_content .social_icon ul{
        margin-bottom: 20px;
    }

    /*ScrollTop*/
    .scrollTop {
        width: 35px;
        height: 35px;
        right: 14px;
        bottom: 44px;
        line-height: 31px;
        font-size: 26px;
    }
}